/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
  }

.error{
  color: palevioletred;
  font-size: 1.5em;
  width: 100% !important;
}

.disabled {
  background: red;
  color: black;
  cursor: default;
  opacity: 25%;
  
}

