<div class="container">
    <div class="SongBoard">
        <div class="Song">
            <button class="Song" (click)="toggleSong(this.song1)">Toggle song 1</button>
            <button class="volume" (click)="incrementVolume(this.song1)"> + </button>
            <button class="volume" (click)="decrementVolume(this.song1)"> - </button>
        </div>
        <div class="Song"><h2>This is a song</h2></div>
        <div class="Song"><h2>This is a song</h2></div>
    </div>
    <!-- <div>
      <video controls="" name="media" [autoplay]="enableAutoplay">
        <source src="https://p.scdn.co/mp3-preview/104ad0ea32356b9f3b2e95a8610f504c90b0026b?cid=8897482848704f2a8f8d7c79726a70d4" type="audio/mp3" autostart="false">
      </video>
    </div> -->
    <div class="ArtistBoard">
        <div class="Artist"><button>Select This Artist</button></div>
        <div class="Artist"><button>Select This Artist</button></div>
        <div class="Artist"><button>Select This Artist</button></div>
        <div class="Artist"><button>Select This Artist</button></div>
    </div>
    <div class="Data">
        <h3>You have: 3 Guesses Left!</h3>
        <h3>The Current Genre is {{ genre }}</h3>
        <h3>The number of Songs is {{ songNumber }}</h3>
        <h3>The number of Artists is {{ artistNumber }}</h3>
        <button (click)="returnHome()">Return to Home Screen!</button>
        <h2>the Artist ID is {{ artistId }}</h2>

    </div>
</div>
